body{
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	background-color:#f2f2d0;
}

.header{
	background-image:Untitled design.png;
    background-size: cover;
	object-fit:cover;
	width:1124px;
	height:200px;
}

.gambar{
	width:200px;
	height:200px;
	object-fit: cover;
	border-radius:10%;
	margin-bottom:12px;
	box-shadow:0 2px 8px rgba (0,0,0,0.20);
}

.navbar{
	overflow:hidden;
	background-color:#333;
}

.navbar a{
	float:left;
	font-size:16px;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

.subnav{
	float:left;
	overflow:hidden;
}

.subnav .subnavbtn{
	font-size:16px;
	border:none;
	outline:none;
	color:white;
	padding:14px 16px;
	background-color:inherit;
	font-family:inherit;
	margin:0;
}

.navbar a:hover, .subnav:hover .subnavbtn{
	background-color:#6e1423;
}

.subnav-content{
	display:none;
	position:absolute;
	left:0;
	background-color:#0f172a;
	width:100%;
	z-index:1;
}

.subnav-content a{
	float:left;
	color:white;
	text-decoration:none;
}

.subnav-content a:hover{
	background-color:#eee;
	color:#c69b3c;
}

.subnav:hover .subnav-content{
	display:block;
}

button{
	background:#6e1423;
	color:#fff;
	border:0;
	padding:10px;
	margin-top:12px;
	cursor:pointer;
	border-radius:6px;
	font-weight:600;
}
button:active{
	transform:tranlateY(1px);
}